<h1>My URL Shortener</h1>
<table>
<% if (username) { %>
  <tr>
    <td>
      <form method="POST" action="/logout">
        <input type="Submit" value="Logout"/>
    </td>
    <td>
      <h5>Welcome <%= username%></h5>
    </td>
      </form>
  </tr>
  <% } else { %>
    <tr>
      <td>
        <form method="POST" action="/login">
          <input type="text" name="username" value=""/>
          <input type="Submit" value="Login"/>
      </td>
      </form>
    <% } %>
  </tr>
</table>

