<h1>My URL Shortener</h1>
  <table>
    <tr>
      <td>
    <form method="POST" action="/login">
      <input type="text" name="username" value=""/>
      <input type="Submit" value="Login"/>
    </td>
    <td>
      <h5>Welcome, <%=username%></h5>
    </td>
    </form>
  </tr>
  </table>
