<h1>My URL Shortener</h1>
<table>
<% if (user) { %>
  <tr>
    <td>
      <form method="POST" action="/logout">
        <input type="Submit" value="Logout"/>
    </td>
    <td>
      <h5>Welcome <%= user.id %></h5>
    </td>
      </form>
  </tr>
  <% } else { %>
    <tr>
      <td>
        <a href="/login">Log In</a>
      </td>
      <td>
        <a href="/register">Register</a>
      </td>
      </form>
    <% } %>
  </tr>
</table>

