<h1>My URL Shortener</h1>
<table>
    <tr>
      <td>
        <form method="POST" action="/login">
          <input type="text" name="user_id" value=""/>
          <input type="Submit" value="Login"/>
      </td>
  </tr>
</table>

