<h1>My URL Shortener</h1>
<h3>Log In</h3>
<form method="POST" action="/login">
  <label for="user_id">User ID:</label>
  <input type="text" name="user_id" value=""/>
  <label for="password">Password</label>
  <input type="text" name="password" value=""/>
  <input type="Submit" value="Login"/>
</form>


