<h1>My URL Shortener</h1>
<h3>Log In</h3>
<form method="POST" action="/login">
  <label for="user_email">Email:</label>
  <input type="text" name="email" value=""/>
  <label for="password">Password</label>
  <input type="password" name="password" value=""/>
  <input type="Submit" value="Login"/>
</form>