<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
    <%- include partials/_header.ejs %>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Short URLs</th>
          <th>Long URLs</th>
        </tr>
      </thead>
      <tbody>
        <% for(shortURL in urls) { %>
        <tr>
          <td><%= shortURL %></td>
          <td><%= urls[shortURL] %></td>
          <td>
            <form method="POST" action="/urls/<%=shortURL%>/delete">
              <input type="Submit" value="Delete"/>
            </form>
          </td>
        </tr>
        <% } %>
        <tr>
          <td colSpan="2">
            <a href="/urls/new">New Tiny URL</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>